tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/test_integrate_election.cpython-38.pyc
tests/__pycache__/test_unit_election.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
__pycache__/election.cpython-38.pyc
tests/__pycache__/__init__.cpython-38.pyc
.vscode/settings.json